<!DOCTYPE html>
<html>
<head>
    <title>Save the Trees Initiative</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <style>
    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
      background: #5B9F2B;
      color: white;
      box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    }
    </style>
    <link rel="stylesheet" href="style/style.css"/>
</head>
<body>
  <div class="container">
      <div id="canvas"></div>
      <div class="sidebar">
        <img src="https://img.icons8.com/pastel-glyph/64/ffffff/hand-planting.png">
        <h1>{{email}}</h1>
        <h2>Trees you've saved:</h2>
          <div class="tree-container"></div>
          <button type="submit" onclick="window.location.href = '{{logouturl}}'">Log Out</button>
      </div>
  </div>

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="javascript/main_map.js"></script>

    <script>
    const userEmail = "{{email}}";
    {% for tree in trees %}
    addTree({{loop.index}}, userEmail, L.latLng({{tree.lat}}, {{tree.long}}));
    {% endfor %}
    {% for tree in othertrees %}
    addOtherTree("{{tree.email}}", L.latLng({{tree.lat}}, {{tree.long}}));
    {% endfor %}
    </script>

    <script>
    map.on('click', function(e) {
       numTrees++;
       addTree(numTrees, userEmail, e.latlng);
       const treeData = {
          'coordinates': e.latlng,
          'number': numTrees
        }
       fetch("/tree", {
         method: 'post',
         body: JSON.stringify(treeData),
       });
    });
    </script>

</body>
</html>
