<!DOCTYPE html>
<html>
<head>
    <title>Save the Trees Initiative</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <link rel="stylesheet" href="style/style.css"/>
</head>
<body>
  <div class="container">
      <div id="canvas"></div>
      <div class="sidebar">
        <img src="https://img.icons8.com/pastel-glyph/64/ffffff/hand-planting.png">
        <h1>{{email}}</h1>
        <h2>Trees you've saved:</h2>
          <div class="tree-container">
            <!-- <div class="tree-obj">
              <p>Tree #1: 90392, 32930</p>
            </div>
            <div class="tree-obj">
              <p>Tree #1: 90392, 32930</p>
            </div>
            <div class="tree-obj">
              <p>Tree #1: 90392, 32930</p>
            </div>
            <div class="tree-obj">
              <p>Tree #1: 90392, 32930</p>
            </div>
            <div class="tree-obj">
              <p>Tree #1: 90392, 32930</p>
            </div> -->
          </div>
          <button type="submit" onclick="window.location.href = '{{logouturl}}'">Log Out</button>
      </div>
  </div>

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="javascript/main_map.js"></script>
    {% for tree in trees %}
    <script>
    L.marker( [{{tree.lat}}, {{tree.long}}], {icon: treeicn} ).addTo(map)
     .bindPopup("Planter: " + '{{email}}' + "<br>Tree #" + numTrees);
     // add elements to the sidebar treeslist
     var listElement = document.createElement("div");
     listElement.className += "tree-obj";
     var text = document.createElement("p");
     text.innerHTML = "Tree #" + numTrees + ": " + '{{email}}' + ": [ {{tree.lat}}, {{tree.long}} ]";
     listElement.appendChild(text);
     treecont.appendChild(listElement);
    </script>
    {% endfor %}

</body>
</html>
