<!DOCTYPE html>
<html>
<head>
    <title>Save the Trees Initiative</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <link rel="stylesheet" href="style/style.css"/>

</head>
<body>
  <div class="container">
      <div id="canvas"></div>
      <div class="sidebar" id="sidebar">
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Menu</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="/">Home</a>
            <a href="#">Community Board</a>
          </div>
        </div>
        <img src="https://img.icons8.com/pastel-glyph/64/ffffff/hand-planting.png">
        <h1>{{email}}</h1>
        <h2>Trees you've saved:</h2>
          <div class="tree-container" id="tree-container"></div>
          <button type="submit" onclick="window.location.href = '{{logouturl}}'">Log Out</button>
      </div>
  </div>

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="javascript/main_map.js"></script>

    <script>
    const userEmail = "{{email}}";
    {% for tree in trees %}
    addTree({{loop.index}}, userEmail, L.latLng({{tree.lat}}, {{tree.long}}));
    {% endfor %}
      ifNoTrees({{trees|length}});
      setCurrEmail(userEmail);
    {% for tree in othertrees %}
    addOtherTree("{{tree.email}}", L.latLng({{tree.lat}}, {{tree.long}}));
    {% endfor %}
    </script>
</body>
</html>
