<!DOCTYPE html>
<html>
<head>
    <title>Save the Trees Initiative</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style/welcome_style.css"
</head>
<body>
      <div id="welcome">
        <div class="bg">
          <div class="center-content">
        <h1> <center> Why should you save trees? </center> </h1> <br>
        <h2> <center> They create the air we breathe and filter air pollution. </center> </h2> <br>
        <h2> <center> Build soil and help soak up stormwater<br> before it can create a flood </center> </h2> <br>
        <h2> <center> Offer energy-saving shade that reduces global warming and<br> creates habitat for thousands of different species </center> </h2> <br>
        <h2> <center> Help reduce ozone levels in urban areas </center> </h2> <br>
        <h2> <center> Help remove carbon dioxide and other greenhouse<br> gases from the air, which cools the earth </center> </h2> <br><br>
        <button type="button">Start Planting</button>
          </div>
      </div>
    </div>
    <script src="javascript/main_map.js"></script>
</body>
</html>
