<!DOCTYPE html>
<html>
<head>
    <title>Save the Trees Initiative</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style/welcome_style.css"
</head>
<body>
    <div id="welcome">
        <h1> <center> Why should you save trees? </center> </h1>
        <h2> <center> - Trees create the air we breathe and filter air pollution </center> </h2>
        <h2> <center> - Trees build soil and help soak up stormwater before it can create a flood </center> </h2>
        <h2> <center> - Trees offer energy-saving shade that reduces global warming and creates habitat for thousands of different species </center> </h2>
        <h2> <center> - Trees help reduce ozone levels in urban areas </center> </h2>
        <h2> <center> - Trees help remove carbon dioxide and other greenhouse gases from the air, which cools the earth </center> </h2>
        <button type="button"> Login</button>


    </div>
    <script src="javascript/main_map.js"></script>
</body>
</html>
