<!DOCTYPE html>
<html>
<head>
    <title>Save the Trees Initiative</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style/welcome_style.css"/>
    <link rel="shortcut icon" href="https://img.icons8.com/pastel-glyph/64/000000/hand-planting.png" type="image/x-icon"/>
</head>
<body>
      <div id="welcome">
        <div class="bg">
          <div class="center-content">
        <h1> <center> Save the Trees Initiative </center> </h1> <br>
        <button type="submit" onclick="window.location.href = '{{loginurl}}'">Start Planting</button>
        <h1 id="question"> <center> Why should we plant trees? </center> <h1>
        <h2> <center> They create the air we breathe and filter air pollution. </center> </h2> <br>
        <h2> <center> They build soil and help soak up stormwater<br> before it can create a flood. </center> </h2> <br>
        <h2> <center> They help reduce ozone levels in urban areas. </center> </h2> <br>
        <h2> <center> They help remove carbon dioxide and other greenhouse<br> gases from the air, which cools the earth. </center> </h2> <br><br>

          </div>
      </div>
    </div>
    <script src="javascript/main_map.js"></script>
</body>
</html>
